.vs/PhotoFinderRobot/copilot-chat
.vs/PhotoFinderRobot/CopilotIndices
bin
obj
.vs/PhotoFinderRobot/FileContentIndex
.vs/PhotoFinderRobot/v18
.vs/PhotoFinderRobot/DesignTimeBuild
.vs/ProjectEvaluation
